.explorer-topbar {
  display: flex;
  flex-direction: column;
  height: 64px;
  background-color: var(--bp-background-color-hover);
  flex-shrink: 0;
}

.explorer-topbar-upper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 8px;
  flex-shrink: 0;
}

.bp6-dark .explorer-topbar-upper {
  background-color: rgba(
    255,
    255,
    255,
    0.15
  ); /* Lighter background for dark mode */
}

.explorer-topbar-lower {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 32px;
  font-size: 14px;
  padding: 0 16px;
}

.bp6-light .explorer-topbar-lower {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Use semi-transparent for subtle contrast */
  color: rgba(0, 0, 0, 0.6); /* Greyed out text */
}

.bp6-dark .explorer-topbar-lower {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6); /* Greyed out text */
}

.explorer-topbar-left,
.explorer-topbar-right {
  display: flex;
  align-items: center;
}

.explorer-topbar-right {
  margin-left: auto;
}

.explorer-tree .bp6-tree-node-label {
  font-size: 14px;
}

/* Lighten the tree background in dark mode */
.bp6-dark .explorer-tree-container {
  background-color: #30404d; /* A lighter Blueprint grey */
}

/* Force hardware acceleration on tree nodes to prevent flicker during animation */
.hw-acceleration-enabled .explorer-tree .bp6-tree-node {
  transform: translateZ(0);
}
