.project-outline-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid var(--project-outline-border);
  background-color: var(--project-outline-background);
  color: var(--text-primary);
  overflow: hidden;
  flex-shrink: 0;
}

.outline-inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.outline-topbar {
  display: flex;
  flex-direction: column;
  height: 64px;
  background-color: var(--sidebar-background); /* Match sidebar */
  flex-shrink: 0;
}

.outline-topbar-upper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 8px;
  flex-shrink: 0;
  background-color: var(--project-outline-topbar-upper);
}

.outline-topbar-lower {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 32px;
  padding: 0 8px;
  background-color: var(--project-outline-topbar-lower);
}

.outline-topbar-lower .bp6-input {
  font-size: 14px;
}

.outline-topbar-left,
.outline-topbar-right {
  display: flex;
  align-items: center;
}

.outline-topbar-right {
  margin-left: auto;
}

.project-outline-content {
  padding: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.project-outline-content.empty {
  padding: 16px;
  text-align: center;
  color: var(--project-outline-empty-text);
}

.outline-tree .bp6-tree-node-label {
  font-size: 14px;
}

.bp6-tree-node.active-project > .bp6-tree-node-content {
  background-color: var(--project-outline-highlight);
}
