.title-bar {
  display: flex;
  align-items: center;
  height: 40px; /* Match the height in main.js */
  color: var(--bp-text-color);
}

.bp6-light .title-bar {
  background-color: #ffffff;
}

.bp6-dark .title-bar {
  background-color: #293742;
}

.draggable {
  -webkit-app-region: drag;
}

.title-bar-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.title-bar-icon img {
  width: 20px;
  height: 20px;
}

.title-bar-title {
  text-align: left;
  color: inherit;
  flex-grow: 1;
  padding-left: 10px;
  font-size: 14px;
  line-height: 40px; /* Center text vertically */
}
